.DS_Store
.idea
.pub/

build/
packages/
packages

# Include when developing application packages.
pubspec.lock

# Do not track emacs temporary and backup files
\#*#
*~

# Do not track Nano temporary files
.#*#

# Don't track .settings and .buildlog from eclipse
.settings
.buildlog
